.attachviewer {
	display:none;
	justify-content: center;
	top:0;left:0;
	z-index:100500;
	position:fixed;
	width:100%;
	min-height:100%;
	background:rgba(0,0,0,0.67);
	text-align:center;

	&.active {
		display:flex;
	}
		  

	.attachviewer-item {
		display:none;
		align-items: center;
		justify-content: center;
		
		&.active {display:flex; }
		
		iframe, img {
			margin:auto auto;
			height:80%;
			align-self:center;
			z-index:9999;
		}
	}
	.attachviewer-toolbar {
		color:#fff;
		z-index:3;
		position:fixed;
		top:0;
		left:0;
		width:100%; 
		padding:16px;
		line-height:24px;
		text-align:left;
		box-shadow: 0px 2px 2px rgba(0,0,0,0.6);
		background: #323232;
		
		.attachviewer-subtoolbar {
			float:right;
			margin-right:8px;
			color:#fff;
			 a {
				color: #fff;
				display: none;
				opacity:0;
				transition: opacity 0.5s ease-in;
				height: 24px;
				width: 24px;
				line-height: 24px;
				text-align: center;
				margin-right: 8px!important;
				text-decoration: none;
				box-sizing: border-box;
				&.visible {
					display: inline-block;
					opacity:1;
				}
			 }
			 
		}
		
		.attachviewer-close {
			background:transparent; 
			border:0;
			margin:0;
			padding:0;
			display:block;
			height:24px;
			width:24px;
			line-height:24px;
			text-align:center;
			float:right;
			font-size:24px;
			margin-right:32px;
			border-radius:24px;
			color:#fff;
		}
	}
	.attachviewer-prev,.attachviewer-next {
		background:transparent; border:0; margin:0; padding:0;
		display:block;
		color:#fff; padding:12px; font-size:30px;
		position:fixed; top:48%;
		opacity:.5;
		&:hover { opacity:1}
	}
	.attachviewer-prev {left:0}
	.attachviewer-next {right:0}
    .attachviewer-unknown {
		background:rgba(0,0,0,0.67);
		padding:20px;width:400px;
		color:#fff;
		a {display:inline-block;
			padding:8px 16px;
			background:blue;
			color:#fff;
			margin-bottom:8px;
		}
	}
}